
body, h1 ,h2, h3, h4, h5, h6, p, a, button {
	color: #002042;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.35;
	position: relative;
	top: 0;
	right: 0;
	transition: ease all 0.4s;
}

p {
	color: #666;
	font-weight: 300;
	line-height: 1.75;
}

strong {
	font-weight: 500;
}

.head {
	padding-top: 15rem;
}

.hero {
	height: 600px;
	.hero-content {
		z-index: 1;
	}
	&:after {
		content: '';
		position: absolute;
		height: 600px;
		width: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(to right, transparent, rgba(0,32,66,.4), rgba(0,32,66,.75));
	}
}

.hero-content {
	h1 {
		font-size: 3.5rem;
	}
	h5 {
		line-height: 1.35;
		margin-bottom:1.2rem;
		font-weight: 300;
	}
}

.hero-image {
	position: relative;
	height: 600px;
	width: 50%;
	float: left;
}

.half-n-half {
	.hero-content {
		float: right;
	    position: relative;
	    top: 0;
	    height: 600px;
	    width: 50%;
	    padding: 0 5%;
	}
	.head {
		padding-top: 12rem;
	}
}

.page-id-5 {
	.text-box-overlay {
		margin-top: 0;
		&:after {
			background: linear-gradient(90deg,rgba(0,0,0,.5),transparent);
		}
	}
	.absolute-positioned {
		left: -30%;
		top: 6.6rem;
	}
}

.text-box {
	padding: 3rem 0 0;
}

.text-box-overlay {
	margin-top: 4rem;
	padding: 0 !important;
	position: relative;
	z-index: 0;
	height: 500px;
	&:after {
		content: '';
		position: absolute;
		height: 500px;
		width: 100%;
		z-index: 0;
		background: linear-gradient(90deg,#000,rgba(0,0,0,.75),rgba(0,0,0,.5),transparent)
	}
}

.blue {
	color: #002042;
}

.white {
	color: #fff;
}

.absolute-positioned {
	position: absolute;
    z-index: 1;
    top: 10.6rem;
    max-width: 100%;
}

.light-blue-btn {
	color: #2777b1;
    font-weight: 500;
    border: 1px solid #2777b1;
    padding: 1rem 2.5rem;
    border-radius: 5px;
}

.white-btn {
	color: #fff;
    font-weight: 500;
    border: 1px solid #fff;
    padding: 1rem 2.5rem;
    border-radius: 5px;	
}

.orange-btn {
	background: #ef6f00;
	color: #fff;
    font-weight: 500;
    padding: 1rem 2.5rem;
    border-radius: 5px;		
}

.btn-scroll {
	position: fixed;
	top: 0;
	z-index: 3;
}

.bottom-space {
	margin-bottom: 4rem;
}

.inline {
	display: inline;
}

.pad-2-5 {
	padding: 2.5% 0;
}

.pad-5 {
	padding: 5% 0;
}

.pad-10 {
	padding: 10% 0;
}

.content-info {
	padding: 2rem 0;
	margin-top: 3rem;
}

.footer-bottom {
	position: relative;
	height: 10px;
	width: 100%;
	background: #b6b6b6;
}

.footer-social-nav {
	display: inline;
	padding: 0;
	li {
		display: inline;
		padding: 0 1rem;
	}
}


/* HALF SECTION */

.half-section {
	position: relative;
	height:500px;
	width: 100%;
	margin-top: 3rem;
	.half-image, .half-content {
		position: relative;
		height: 500px;
		width: 50%;
	}
	.half-image {
		float: left;
	}
	.half-content {
		float: right;
	}
	.head {
		padding: 10% !important; 
	}
}

@media screen and (max-width:1025px) {

	.hero-content {
		h1 {
			font-size: 2.75rem;
		}
	}
}


@media screen and (max-width: 768px) {

	.orange-btn {
		padding: .75rem 1rem;
	}

	.hero::after {
		background: rgba(0,32,66,.5);
		content: '';
		position: absolute;
		height: 500px;
		width: 100%;
		top: 0;
		left: 0;
	}
}


@media screen and (max-width: 575px) {

	.hero-content h1 {
		font-size: 2.15rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.35rem;
	}	

}

@media screen and (max-width: 375px) {

	
	.absolute-positioned {
		top: 3rem;
	}
	

}